# プロジェクト概要

- アリスソフト「ドーナドーナ」で利用できる キャラクター設定ファイル(`.txt`)を作成するためのペライチの Web フォーム。
- バックエンドサーバーは無くフロントエンドのみ
- ローカルバリデーションのみで、txt ファイルを生成しダウンロードさせる

# 技術スタック

- 学習用途で elm を採用している

# 重要事項

- `docs/おまけ/ドーナドーナニイレタイ.txt`に公式の説明テキストがあるので必ず読むこと
  - ただゲームのネタバレ防止のためあえて説明してない部分もあり、独自調査して実装しているので、既存の型を優先すること
- また`docs/おまけ/User/清少納言.txt`が`ジンザイ`のサンプルファイル、`docs/おまけ/User/無課金戦士.txt`がコキャクのサンプルファイルになります。
- 公式の説明に記載されていませんが`ShiftJIS`でエンコードする必要があります。