# プロジェクト概要

- アリスソフト「ドーナドーナ」で利用できる キャラクター設定ファイル(`.txt`)を作成するためのペライチの Web フォーム。
- バックエンドサーバーは無くフロントエンドのみ
- ローカルバリデーションのみで、txt ファイルを生成しダウンロードさせる

# 重要事項

- `docs/おまけ/ドーナドーナニイレタイ.txt`に公式の説明テキストがあるので必ず読むこと
  - ただゲームのネタバレ防止のためあえて説明してない部分もあり、独自調査して実装しているので、既存の型を優先すること
- また`docs/おまけ/User/清少納言.txt`が`ジンザイ`のサンプルファイル、`docs/おまけ/User/無課金戦士.txt`がコキャクのサンプルファイルになります。
- 公式の説明に記載されていませんが`ShiftJIS`でエンコードする必要があります。


# 技術スタック

- Vite + TyperScirpt + React + Mantineの構成

# コーディング規約
- 関数型プログラミングに寄せる
  - interfaceやclassを極力使わない
  - 純粋な関数を心がける
  - 副作用のスコープを狭め、数も最小限にする
- 型定義はできるだけ厳密に定義する
  - できるだけreadonlyを使う
- TSXでreturnする部分にロジックを埋め込まず、関数や変数に切り出す