# プロジェクト概要

- アリスソフト「ドーナドーナ」で利用できる キャラクター設定ファイル(`.txt`)を作成するための Web フォーム。
- ただしバックエンドサーバーは無くフロントエンドのみ
- ローカルバリデーションのみで、txt ファイルを生成しダウンロードさせる

# 重要事項

- docsフォルダには資料があるので確認する
  - `docs/開発計画.md`,`docs/CLINEからの改善提案.md`は指示があった時に読む
  - `docs/対象ゲーム資料に公式の説明テキストがある
    - ただゲームのネタバレ防止のためあえて説明してない部分もあり、独自調査して実装しているので、既存の型を優先すること
    - また公式の説明に記載されていませんが生成するファイルは`ShiftJIS`でエンコードする必要があり、サンプルファイルも`ShiftJIS`でエンコードされているのでAIは読めません。


# 技術スタック

- ビルドツール: Vite
- 言語: TyperScirpt
- フロントエンドフレームワーク: React
- UIフレームワーク: Mantine

# コーディング規約

- フォルダ/ファイルを作成する際は名前をケバブケースで統一する
- 関数型プログラミングに寄せる
  - interfaceやclassを極力使わない
  - 純粋な関数を心がける
  - 副作用のスコープを狭め、数も最小限にする
- 型定義はできるだけ厳密に定義する
  - できるだけreadonlyを使う
- TSXでreturnする部分にロジックを埋め込まず、関数や変数に切り出す
- Mantine v7でcss modulesを推奨しているのでCSS modulesを使う
- コメントで変更内容を残すことを禁止
- 1ファイル100行を目安とし、超える場合はファイルを分割すること

# 参考資料

- [公式サイト（デザインなどを参考している）](https://www.alicesoft.com/dohnadohna/)