.dropzone {
  border: 2px dashed var(--mantine-color-gray-4);
  border-radius: 4px;
  padding: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
  cursor: pointer;
  transition: all 0.2s ease;
}

.active {
  background-color: var(--mantine-color-blue-0);
  border-color: var(--mantine-color-blue-5);
}

.loading {
  cursor: wait;
  opacity: 0.7;
  border-color: var(--mantine-color-yellow-5);
  background-color: var(--mantine-color-yellow-0);
}
